* {
	box-sizing: border-box;
	} 

	body {
		font-size: 100%;
		font-family: "Lucida Console", Monaco, monospace;
	}

	div {
		margin-right: 20px;
		margin-left: 20px;
		margin-top: 20px;
	}

	h1 {
		font-size: 175%;
		font-family: "Lucida Console", Monaco, monospace;
		font-weight: 900;
		text-align: center;
	}

	p {
		margin-top: 45px;
	}

	#box1, #box2, #box3 {
		background-color: #c6d9ec;
		padding: 0px 10px 20px 10px;
		border: 1px solid black;
		margin: 20px;
		width: 30%;
		height: 20%;
		font-style: normal;
		font-size: 100%;
		position: relative;
	}

	#section1 {
		background-color: #ff8080;
		color: black;
	}

	#section2 {
		background-color: #ff0000;
		color: white;
	}

	#section3 {
		background-color: #ffff80;
		color: black;
	}

	#section1, #section2, #section3 {
		padding: 5px 10px 5px 10px;
		font-size: 125%;
		text-align: center;
		border: 1px solid black;
		width: 120px;
		height: 30px;
		position: absolute;
		top: 0;
		right: 0;

	}

	@media (min-width: 992px) {
		#box1, #box2, #box3 {
			width: 29%;
			float: left;
		}
	}

	@media (max-width: 991px) and (min-width: 768px) {
		#box1, #box2 {
			width: 43%;
			float: left;
		}
		#box3 {
			width: 91%;
			float: left; 
		}
	}

	@media (max-width: 767px) {
		#box1, #box2, #box3 {
			width: 95%;
			float: left;
		}
	}
